<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">操作系统大作业</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown">
                        SJB排序
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/home">抢占式</a></li>
                        <li><a href="/home/nonSJB">非抢占式</a></li>
                    </ul>
                </li>
                <li><a href="/home/banker">银行家算法</a></li>
                <li><a href="/home/RR">时间片轮转算法</a></li>
            </ul>
        </div>
    </div>
</nav>